{{!-- begin page wrapper (for 'display: flexbox;') --}}
<div id="api-login-page-wrapper">

{{!-- begin api header --}}
<header id="api-header">
	<div id="api-header-message">
		<h1>The Round About</h1>
		<h2>API Database Access</h2>
	</div>
</header>
{{!-- end api header --}}

{{!-- login form --}}
<section id="api-login-form-section">

	{{#if errorMsg}}
	<div class="error-message-container">
		<h3>{{errorMsg}}</h3>
	</div>
	{{/if}}

	{{#if invalidLogin}}
	<div class="error-message-container">
		<h3>{{invalidLogin}}</h3>
	</div>
	{{/if}}

	<div id="api-login-form-container">
		<form action="/api/login" method="POST">
			<div class="api-form-control" id="username-input-container">
				<label for="username">Username</label>
				<input type="text" name="username" id="username-input" class="input">
			</div>
			<div class="api-form-control" id="password-input-container">
				<label for="password" id="password-label">Password</label>
				<input type="password" name="password" id="password-input" class="input">
			</div>
			<div class="api-form-control" id="login-submit-container">
				<button type="submit" id="login-submit">Log in</button>
			</div>
		</form>
	</div>
{{!-- end login form --}}

</div>
{{!-- end page wrapper --}}