{{!-- begin navbar section --}}
<nav id="navbar">
	<div id="browse-h1-container">
		<h1>The Round About</h1>
	</div>
	<div id="nav-links">
		<a href="/"><p class="home-link nav-link">Home</p></a>
		<a href="/browse"><p class="browse-link nav-link">Browse Inventory</p></a>
		<a href="#"><p class="events-link nav-link" id="events-link" style="color: #f1c40f;">Events</p></a>
	</div>
</nav>
{{!-- end navbar section --}}

{{!-- begin events section --}}
<section id="events-section">
	<div id="events-container">
		<h1 class="month">November</h1>
		<ul class="events-list">
		{{#each events}}
			<li class="event"><span style="color:#f1c40f;">{{this.day}} {{this.date}}</span> - {{this.description}} @ {{this.time}}</li>
		{{/each}}
		</ul>
	</div>
</section>
{{!-- end events section --}}

{{!-- begin footer section --}}
<footer id="footer-section">
	<div id="social-links-container">
		<div class="social-link"><a href="https://www.facebook.com/theroundaboutstore/?hc_ref=SEARCH&amp;fref=nf" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-fb.png" class="social-link-image"></a></div>
		<div class="social-link"><a href="https://www.instagram.com/roundaboutstore/?hl=en" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-instagram.png" class="social-link-image"></a></div>
		<div class="social-link"><a href="https://twitter.com/rickrez22" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-twitter.png" class="social-link-image"></a></div>
	</div>
	<div id="copyright-container">
		<h6>&copy; <a href="http://www.derricksuarez.com/" target="_blank" rel="noopener noreferrer">Derrick Suarez 2016</a></h6>
	</div>
</footer>
{{!-- end footer section --}}