{{!-- begin full-page header --}}
<header id="hero-header" class="full-page">
	<div id="header-title">
		<h1>The Round About</h1>
		<h3>RECORDS &amp; GOODS</h3>
	</div>
	<div id="contact-info">
		<p>311 Broad Street</p>
		<p>Lake Charles, LA</p>
		<p>(337) 602 - 6452</p>
	</div>
	<div id="chevron-down-container">
		<a href="#" onclick="return false;" onmousedown="autoScrollTo('staff-picks');"><div id="chevron-down"></div></a>
	</div>
</header>
{{!-- end full-page header --}}

{{!-- begin staff picks section --}}
<section id="staff-picks">
	<div id="staff-picks-title">
		<h3>Staff Picks</h3>
	</div>
	<div id="staff-picks-container">
		<div class="staff-picks-item">
			<img src="./assets/img/temp-record.png"><br>
			<p class="staff-pick-album">Album Title</p>
			<p class="staff-pick-artist">Artist Name</p>
			<p class="staff-pick-year">Year</p>
		</div>
		<div class="staff-picks-item">
			<img src="./assets/img/temp-record.png"><br>
			<p class="staff-pick-album">Album Title</p>
			<p class="staff-pick-artist">Artist Name</p>
			<p class="staff-pick-year">Year</p>
		</div>
		<div class="staff-picks-item">
			<img src="./assets/img/temp-record.png"><br>
			<p class="staff-pick-album">Album Title</p>
			<p class="staff-pick-artist">Artist Name</p>
			<p class="staff-pick-year">Year</p>
		</div>
		<div class="staff-picks-item">
			<img src="./assets/img/temp-record.png"><br>
			<p class="staff-pick-album">Album Title</p>
			<p class="staff-pick-artist">Artist Name</p>
			<p class="staff-pick-year">Year</p>
		</div>
		<div class="staff-picks-item">
			<img src="./assets/img/temp-record.png"><br>
			<p class="staff-pick-album">Album Title</p>
			<p class="staff-pick-artist">Artist Name</p>
			<p class="staff-pick-year">Year</p>
		</div>
		<div class="staff-picks-item">
			<img src="./assets/img/temp-record.png"><br>
			<p class="staff-pick-album">Album Title</p>
			<p class="staff-pick-artist">Artist Name</p>
			<p class="staff-pick-year">Year</p>
		</div>
	</div>
</section>
{{!-- end staff picks section --}}

{{!-- begin navigation section --}}
<section id="nav-section">
	<form action="/browse" method="GET">
		<button type="submit" id="browse-inventory">Browse Inventory</button>
	</form>
	<form action="/events">
		<button type="submit" id="upcoming-events">Upcoming Events</button>
	</form>
</section>
{{!-- end navigation section --}}

{{!-- begin map section --}}
<section id="map-section">
	<div id="map-header-container">
		<h2>Where are we located?</h2>
	</div>
	<div id="map-container">
		<iframe width="100%" height="455" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDchdsjpvalXui_QTAFtm9Hb1Ka67X5s1k&amp;q=311+Broad+Street+Lake+Charles+LA" allowfullscreen></iframe>
	</div>
</section>
{{!-- end map section --}}

{{!-- begin footer section --}}
<footer id="footer-section">
	<h2>Get in touch with us</h2>
	<form action="" method="POST" id="contact-us">
		<label for="name">Name</label><br>
		<input type="text" name="name" id="name" class="form-control" placeholder="John Doe"><br>

		<label for="email">Email</label><br>
		<input type="email" name="email" id="email" class="form-control" placeholder="johndoe@email.com"><br>

		<label for="message-body">Message</label><br>
		<textarea rows="20" cols="75" name="message-body" id="message-body" placeholder="Let me tell you how much I LOVE the Round About!"></textarea>
		<button type="submit" id="send-email">Submit</button>
	</form>
	<div id="social-links-container">
		<div class="social-link"><a href="https://www.facebook.com/theroundaboutstore/?hc_ref=SEARCH&amp;fref=nf" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-fb.png"></a></div>
		<div class="social-link"><a href="https://www.instagram.com/roundaboutstore/?hl=en" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-instagram.png"></a></div>
		<div class="social-link"><a href="https://twitter.com/rickrez22" target="_blank" rel="noopener noreferrer"><img src="./assets/img/social-link-twitter.png"></a></div>
	</div>
	<div id="copyright-container">
		<h6>&copy; <a href="http://www.derricksuarez.com/" target="_blank" rel="noopener noreferrer">Derrick Suarez 2016</a></h6>
	</div>
</footer>
{{!-- end footer section --}}