/*
light grey color: #d0d5d6;
dark blue color: #0e2338;
off-white color: #fff;
yellow color: #f1c40f;
*/

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

/********************************************************/
/***** Landing Page  *****/
/********************************************************/

body {
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	min-width: 100% !important;
}

/* Header */

#hero-header {
	/*background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/hero-img.JPG);*/
	background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/hero-img-2.JPG);
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#header-title {
	border: 1px solid white;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1%;
	margin-top: -15%;
}

#header-title h1 {
	color: white;
	font-size: 4em;
	padding: 1%;
	white-space: nowrap;
}

#header-title h3 {
	color: white;
	font-size: 2em;
	padding: 1%;
	white-space: nowrap;
}

#contact-info {
	color: white;
	font-size: 1.25em;
	line-height: 2em;
	margin-top: 2%;
	color: #f1c40f;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
}

#chevron-down {
	height: 75px;
	width: 75px;
	border-right: 5px solid #fff;
	border-bottom: 5px solid #fff;
	transform: rotate(45deg);
	margin-left: -40px;
}

#chevron-down-container {
	position: absolute;
	bottom: 10%;
	left: 50%;
	animation: bounce 1s ease-in-out infinite;
}

/* Staff Picks */

#staff-picks {
	height: 450px;
	min-height: 450px;
	max-height: 450px;
	padding: 2%;
	background-color: #d0d5d6;
}

#staff-picks-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#staff-picks-title h3 {
	font-size: 3em;
	margin-bottom: 5%;
	color: #0e2338;
	border-bottom: 2px solid #0e2338;
	padding-bottom: 1%;
}

.staff-picks-item {
	width: 16%;
	height: 275px;
	min-height: 275px;
}

.staff-pick-album-cover {
	margin-bottom: 10px;
	box-shadow: 0 0 15px #000;
}

.staff-pick-album-title, .staff-pick-artist, .staff-pick-year {
	color: #0e2338;
	font-weight: 300;
}

.staff-pick-album-title {
	font-size: 1.25em;
	margin-bottom: 10px;
}

.staff-pick-artist {
	margin-bottom: 10px;
}

.staff-pick-year {
	font-size: .75em;
}

#staff-picks-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

/* Nav Section */

#nav-section {
	background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/ppl-browsing-cut.jpg);
	height: 500px;
	min-height: 500px;
	max-height: 500px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#browse-inventory {
	width: 450px;
    height: 100px;
    background: none;
    border: 2px solid #fff;
    font-size: 2em;
    font-weight: 100;
    color: #fff;
}

#browse-inventory:hover {
	background-color: #fff;
    color: #0e2338;
    cursor: pointer;
}

#upcoming-events {
	width: 250px;
    height: 75px;
    background: none;
    border: 2px solid #fff;
    font-size: 1.35em;
    font-weight: 100;
    color: #fff;
    margin-top: 25%;
}

#upcoming-events:hover {
	background-color: #fff;
    color: #0e2338;
    cursor: pointer;
}

/* Maps Section */

#map-section {
	background-color: #d0d5d6;
	height: 660px;
	min-height: 660px;
	max-height: 660px;
}

#map-header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#map-header-container h2 {
	margin: 5% 0;
	font-size: 4em;
	color: #0e2338;
	white-space: nowrap;
}

/*#map-container {
	min-height: 50vh;
}*/

#map-container iframe {
	pointer-events: none;
}

/* Footer Section */

#footer-section {
	background-color: #0e2338;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-section h2 {
	font-size: 4em;
	color: #fff;
	display: inline-block;
	margin: 10% 25% 5% 25%;
	white-space: nowrap;
}

#contact-us {
	margin-top: 1%;
    padding: 2%;
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#contact-us label {
	color: #fff;
}

.personal-form-control {
	width: 250px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 2% 0;
}

textarea {
	border-style: solid;
    border-width: 1px;	
}

.personal-form-control:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

#send-email {
	width: 150px;
    height: 50px;
    background: #0e2338;
    border: 2px solid #fff;
    font-size: 1.5em;
    font-weight: 100;
    color: #fff;
    margin: 5% 0 20% 0;
}

#send-email:hover {
	background-color: #fff;
    color: #0e2338;
    cursor: pointer;
}

#social-links-container {
	width: 50%;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-link {
	margin: 5%;
}

#copyright-container {
	padding: 2%;
	width: 100%;
    min-height: 15vh;
    max-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#copyright h6, a {
	color: #0e2338;
	font-size: 1.25em;
	text-decoration: none;
}

/********************************************************/
/***** Browse Inventory Page  *****/
/********************************************************/

/* navbar section */

#navbar {
	background-color: #0e2338;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3%;
}

#navbar h1 {
	color: #fff;
}

#navbar h1 {
	margin-left: 5%;
	font-size: 3em;
	white-space: nowrap;
}

#navbar p {
	font-size: 1.25em;
}

#nav-links {
	display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
}

.nav-link {
	color: #fff;
}

.nav-link:hover {
	color: #f1c40f;
}

.home-link {
	border-right: 1px solid #fff;
    padding-right: 10px;
}

.browse-link {
	padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.events-link {
	padding-left: 10px;
    border-left: 1px solid white;
}

/* header section */

#header {
	padding: 2%;
	background-color: #fff;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #0e2338;
}

#header > h3 {
	color: #0e2338;
    font-size: 2.5em;
    margin: 1% 0;
    border-bottom: 1px solid #0e2338;
    padding: 1%;
    white-space: nowrap;
}

#header > p {
	color: #0e2338;
	font-size: 1.25em;
	width: 55%;
	line-height: 150%;
	text-align: center;
}

/* search sidebar section */

#search-sidebar {
	background-color: #0e2338;
	padding: 2% 1% 2% 1%;
	width: 25%;
	max-width: 25%;
	min-width: 25%;
	display: inline-block;
	height: 1250px;
	max-height: 1250px;
	min-height: 1250px;
	border-bottom: 1px solid #fff;
}

#search-sidebar > h3 {
	border-bottom: 2px solid #0e2338;;
	padding-bottom: 2%;
	font-weight: 100;
	font-size: 1.65em;
	color: #fff;
	margin-top: 50px;
	margin-bottom: 20px;
}

.search-form-control {
	color: #fff;
}

.format-filter {
	margin-left: 10%;
}


#format-label {
	font-size: 1.5em;
	padding: 5% 0;
	margin-bottom: 10%;
	border-bottom: 1px solid #fff;
	margin-left: 20px;
}

#format-container {
	padding-bottom: 15%;
}

#genre-label {
	font-size: 1.5em;
	padding: 5% 0;
	margin-bottom: 10%;
	border-bottom: 2px solid #fff;
	color: #fff;
	margin-left: 20px;
}

.radio-format-option-label {
	margin-left: 50px;
}

.radio-option-label {
	margin-left: 25px;
}

#price-label {
	font-size: 1.5em;
	padding: 5% 0;
	margin-bottom: 10%;
	border-bottom: 2px solid #fff;
	color: #fff;
}

#radio-left {
	width: 42%;
    display: inline-block;
    padding-left: 5%;
    padding-bottom: 15%;
    margin-left: 8px;
}

#radio-right {
	width: 50%;
    display: inline-block;
    float: right;
    padding-bottom: 15%;
}

.filter {
	display: block;
	margin-top: 10px;
}

#filter-submit-button-container {
	padding-left: 8%;
	margin-top: 10%;
}

.search-form-button {
    height: 50px;
    background: #0e2338;
    border: 2px solid #f1c40f;
    font-size: 1em;
    font-weight: 100;
    color: #f1c40f;
    margin: 5% 0 3% 0;
    width: 85%;
}

.search-form-button:hover {
	background-color: #fff;
    color: #0e2338;
    border: 2px solid #fff;
    cursor: pointer;
    border: 1px solid #0e2338;
}

#search-all-submit {
	margin-left: 8%;
	height: 65px;
}

#incl-out-stock-msg {
	font-size: .5em;
}

#search-in-stock-submit {
	margin-left: 8%;
}

/* search results section */

#search-results {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	background-color: #0e2338;
	height: 1250px;
	min-height: 1250px;
	max-height: 1250px;
	width: 75%;
	float: right;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 3%;
	overflow: scroll;
}

.search-result-item {
	display: inline-block;
	padding: 3%;
	height: 275px;
	min-height: 265px;
	width: 165px;
	max-width: 175px;
	overflow: scroll;
}

.search-results-album-cover {
	box-shadow: 0 0 15px #000;
}

.search-results-album-title {
	font-size: .95em;
    margin-bottom: 5%;
    font-weight: 300;
    margin-top: 10px;
}

.search-results-artist {
	font-size: .85em;
    margin-bottom: 5%;
}

.search-results-year {
	font-size: .65em;
}

.search-results-price {
	font-size: 1em;
    margin-bottom: 5%;
    margin-top: 2%;
}

.single-album-input {
	border: none;
	background: none;
	color: #fff;
}

#specific-album-form:hover,
.single-album-input:hover {
	cursor: pointer;
}



/********************************************************/
/***** Events Page  *****/
/********************************************************/

#events-section {
	background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/hero-img.JPG);
	/*height: 87vh;*/
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#events-container {
	width: 66%;
	max-width: 66%;
	min-width: 66%;
	background-color: #0e2338;
	opacity: 0.65;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 10%;
	overflow: scroll;
}

.month {
	font-size: 3.5em;
	color: #f1c40f;
	padding: 2%;
	border-bottom: 1px solid white;
}

.events-list {
	width: 100%;
	text-align: center;
}

.event {
	font-size: 1.5em;
	color: white;
	padding: 2%;
	margin: 5% 0;
	line-height: 2em;
}

/********************************************************/
/***** Media Queries  *****/
/********************************************************/

/* landing page */
/**********************************************/

/* approx. landscape laptop width */
@media only screen and (max-width: 1024px) {
	#header-title h1 {
		font-size: 3.5em;
	}

	#header-title h3 {
		font-size: 1.5em;
	}

	#contact-info {
		font-size: .75em;
	}
}

/* approx. portrait tablet width */
@media only screen and (max-width: 768px) {
	#header-title h1 {
		font-size: 3em;
	}

	#header-title h3 {
		font-size: 1em;
	}

	#contact-info {
		font-size: .5em;
	}
}

/* approx. iPhone landscape width */
@media only screen and (max-width: 568px) {
	#header-title h1 {
		font-size: 2.5em;
	}

	#header-title h3 {
		font-size: .5em;
	}

	#contact-info {
		font-size: .25em;
	}

	#header-title {
		width: 75%;
		padding: 5%;
	}

	#header-title h1 {
		font-size: 1.5em;
	}

	#chevron-down {
		height: 50px;
	    width: 50px;
	    border-right: 2px solid #fff;
	    border-bottom: 2px solid #fff;
	}

	#staff-picks-title h3 {
		font-size: 1.5em;
	    margin-top: 5%;
	    margin-bottom: 10%;
	}

	#staff-picks-container {
		height: 350px;
	}

	.staff-picks-item {
		height: 150px;
	    min-height: 150px;
	    max-height: 150px;
	    width: 33%;
	    padding-left: 25px;
	}

	.staff-pick-album-cover {
		width:75px;
		height: 75px;
	}

	.staff-pick-album-title {
		font-size: .85em;
	}

	.staff-pick-artist {
		font-size: .75em;
	}

	.staff-pick-year {
		font-size: .55em;
	}

	#browse-inventory {
		width: 350px;
	    height: 75px;
	    font-size: 2em;
	}

	#map-section {
		height: 500px;
	    min-height: 500px;
	    max-height: 500px;
	}

	#map-header-container h2 {
		font-size: 1.5em;
	}

	#footer-section h2 {
		font-size: 2em;
	}

	#contact-us label {
		font-size: 1em;
	}

	.personal-form-control {
		margin-bottom: 25px;
	}

	#message-body {
		width: 350px;
	}
}

@media only screen and (max-width: 320px) {
	#hero-header {
		background: #0e2338;
	}

	#header-title h1 {
		font-size: 1.5em;
	}

	#header-title h3 {
		font-size: .75em;
	}

	#contact-info {
		font-size: .75em;
	}

	#chevron-down {
		margin-left: -20px;
	}

	.staff-picks-item {
		padding-left: 12px;
	}

	#nav-section {
		background: #0e2338;
	}

	#browse-inventory {
		width: 275px;
	    font-size: 1.5em;
	    height: 65px;
	}

	#upcoming-events {
		width: 275px;
	    font-size: 1.5em;
	    height: 65px;
	}

	.personal-form-control {
		width: 200px;
	}

	#message-body {
		width: 275px;
	    height: 250px;
	}
}


/* browse inventory page
/**********************************************/

/* approx. landscape laptop width */
@media only screen and (max-width: 1024px) {
	#navbar h1 {
		font-size: 2.5em;
	}

	#navbar p {
		font-size: .95em;
	}

	#header h3 {
		font-size: 2em;
	}

	#header p {
		font-size: .95em;
	}
}

/* approx. portrait tablet width */
@media only screen and (max-width: 768px) {
	body {
		background-color: #f1c40f;
	}

	#navbar h1 {
		font-size: 2em;
	}

	#navbar p {
		font-size: .65em;
	}

	#header h3 {
		font-size: 1.75em;
	}

	#header p {
		font-size: .75em;
	}

	#search-sidebar {
		width: 100%;
	    max-width: 100%;
	    min-width: 100%;
	    display: block;
	    height: 1125px;
	    max-height: 1125px;
	    min-height: 1125px;
	}

	#search-sidebar h3 {
		display: inline-block;
		border-bottom: 1px solid #fff;
	}

	#format-label {
		display: inline-block;
    	margin-bottom: 2%;
    	border-bottom: none;
	}

	#format-container {
		display: inline;
		width: 20%;
		margin-left: 35px;
	}

	#genre-section-wrapper {
	    width: 65%;
	    float: right;
	    margin-top: -165px;
	}

	.format-filter {
		display: block;
	}

	.radio-format-option-label {
		margin-left: 90px;
	}

	#genre-label {
		border-bottom: none;
		padding-top: 8px;
		margin-bottom: 5%;
	}

	#search-results {
		width: 85%;
    	margin-right: 7.5%;
    	border-left: none;
    	height: 450px;
	    max-height: 450px;
	    min-height: 450px;
	}

	.search-result-item {
		width: 45%;
		max-width: 45%;
	}

	#footer-section {
		width: 100%;
	    max-width: 100%;
	    min-width: 100%;
	}

	#social-links-container {
		width: 100%;
	}

	.social-link-image {
		width: 75px;
		height: 75px;
	}
}

/* approx. iPhone landscape width */
@media only screen and (max-width: 568px) {
	#navbar h1 {
		font-size: 1.5em;
	}

	#navbar p {
		font-size: .45em;
	}

	#search-sidebar {
		width: 100%;
	    max-width: 100%;
	    min-width: 100%;
	    display: block;
	    height: 950px;
	    max-height: 950px;
	    min-height: 950px;
	}

	#header h3 {
		font-size: 1.15em;
	}

	#header p {
		font-size: .65em;
	}

	#search-sidebar h3 {
		font-size: 1.15em;
		margin-left: 35px;
	}

	#format-label {
		font-size: 1em;
	}

	.radio-format-option-label {
		margin-left: 50px;
	}

	#genre-section-wrapper {
		margin-top: -120px;
	}

	#genre-label {
		font-size: 1em;
	}

	.search-results-album-cover {
		width: 75px;
		height: 75px;
	}

	.search-results-album-title {
		font-size: .75em;
	}

	.search-results-artist {
		font-size: .65em;
	}

	.search-results-year {
		font-size: .45em;
	}

	.search-results-quantity {
		font-size: .55em;
	}

	.search-results-price {
		font-size: .85em;
	}

	.social-link-image {
		width: 50px;
		height: 50px;
	}

	#copyright-container {
		height: 75px;
	    min-height: 75px;
	    max-height: 75px;
	}

	#copyright-container h6 {
		font-size: .75em;
	}
}

/* approx. iPhone portrait width */
@media only screen and (max-width: 320px) {
	#navbar h1 {
		font-size: 1em;
	}

	#navbar p {
		font-size: .35em;
	}

	#search-sidebar {
		width: 100%;
	    max-width: 100%;
	    min-width: 100%;
	    display: block;
	}

	#header h3 {
		font-size: 1em;
	}

	#header p {
		font-size: .45em;
	}

	#format-container {
		margin-left: 10px;
	}

	.radio-format-option-label {
		margin-left: 30px;
	}

	#genre-section-wrapper {
		margin-top: -113px;
	}

	#genre-label {
		margin-left: 10px;
	}

	#radio-left {
		margin-left: -10px;
	}

	#radio-right {
		margin-right: 8px;
	}

	.radio-option-label {
		margin-left: 10px;
	}

	#search-results {
		background-image: linear-gradient(
			to left,
			#617f9c, #0e2338 10%
			);
	}
}


