/*
light grey color: #d0d5d6;
dark blue color: #0e2338;
off-white color: #fff;
*/

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

/********************************************************/
/***** Landing Page  *****/
/********************************************************/

body {
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	min-width: 100% !important;
}

/* Header */

#hero-header {
	/*background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/hero-img.JPG);*/
	background: linear-gradient( rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.45)), url(../img/hero-img-2.JPG);
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#header-title {
	border: 1px solid white;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1%;
	margin-top: -15%;
}

#header-title h1 {
	color: white;
	font-size: 4em;
	padding: 1%;
	white-space: nowrap;
}

#header-title h3 {
	color: white;
	font-size: 2em;
	padding: 1%;
	white-space: nowrap;
}

#contact-info {
	color: white;
	font-size: 1em;
	line-height: 2em;
	margin-top: 2%;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
}

#chevron-down {
	height: 75px;
	width: 75px;
	border-right: 5px solid #fff;
	border-bottom: 5px solid #fff;
	transform: rotate(45deg);
	margin-left: -40px;
}

#chevron-down-container {
	position: absolute;
	bottom: 10%;
	left: 50%;
	animation: bounce 1s ease-in-out infinite;
}

/* Staff Picks */

#staff-picks {
	height: 50vh;
	min-height: 50vh;
	max-height: 50vh;
	padding: 2%;
	background-color: #d0d5d6;
}

#staff-picks-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#staff-picks-title h3 {
	font-size: 3em;
	margin-bottom: 5%;
	color: #0e2338;
	border-bottom: 2px solid #0e2338;
	padding-bottom: 1%;
}

.staff-picks-item {
	width: 16%;
	height: 275px;
	min-height: 275px;
}

.staff-pick-album-cover {
	margin-bottom: 10px;
	box-shadow: 0 0 15px #000;
}

.staff-pick-album-title, .staff-pick-artist, .staff-pick-year {
	color: #0e2338;
	font-weight: 300;
}

.staff-pick-album-title {
	font-size: 1.25em;
	margin-bottom: 10px;
}

.staff-pick-artist {
	margin-bottom: 10px;
}

.staff-pick-year {
	font-size: .75em;
}

#staff-picks-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

/* Nav Section */

#nav-section {
	background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/ppl-browsing-cut.jpg);
	height: 50vh;
	min-height: 50vh;
	max-height: 50vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#browse-inventory {
	width: 450px;
    height: 100px;
    background: none;
    border: 2px solid #fff;
    font-size: 2em;
    font-weight: 100;
    color: #fff;
}

#browse-inventory:hover {
	background-color: #fff;
    color: #0e2338;
    cursor: pointer;
}

#upcoming-events {
	width: 250px;
    height: 75px;
    background: none;
    border: 2px solid #fff;
    font-size: 1.35em;
    font-weight: 100;
    color: #fff;
    margin-top: 25%;
}

#upcoming-events:hover {
	background-color: #fff;
    color: #0e2338;
    cursor: pointer;
}

/* Maps Section */

#map-section {
	background-color: #d0d5d6;
}

#map-header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#map-header-container h2 {
	margin: 5% 0;
	font-size: 4em;
	color: #0e2338;
	white-space: nowrap;
}

#map-container {
	min-height: 50vh;
}

#map-container iframe {
	pointer-events: none;
}

/* Footer Section */

#footer-section {
	background-color: #0e2338;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-section h2 {
	font-size: 4em;
	color: #fff;
	display: inline-block;
	margin: 10% 25% 5% 25%;
	white-space: nowrap;
}

#contact-us {
	margin-top: 1%;
    padding: 2%;
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#contact-us label {
	color: #fff;
}

.personal-form-control {
	width: 250px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 2% 0;
}

textarea {
	border-style: solid;
    border-width: 1px;	
}

.personal-form-control:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

#send-email {
	width: 150px;
    height: 50px;
    background: #0e2338;
    border: 2px solid #fff;
    font-size: 1.5em;
    font-weight: 100;
    color: #fff;
    margin: 5% 0 20% 0;
}

#send-email:hover {
	background-color: #fff;
    color: #0e2338;
    cursor: pointer;
}

#social-links-container {
	width: 50%;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-link {
	margin: 5%;
}

#copyright-container {
	padding: 2%;
	width: 100%;
    min-height: 15vh;
    max-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#copyright h6, a {
	color: #0e2338;
	font-size: 1.25em;
	text-decoration: none;
}

/********************************************************/
/***** Browse Inventory Page  *****/
/********************************************************/

/* navbar section */

#navbar {
	background-color: #0e2338;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3%;
}

#navbar > h1 {
	color: #fff;
}

#navbar h1 {
	margin-left: 5%;
	font-size: 3em;
	white-space: nowrap;
}

#navbar p {
	font-size: 1.25em;
}

#nav-links {
	display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
}

.nav-link {
	color: #fff;
}

.nav-link:hover {
	color: #f1c40f;
}

.home-link {
	border-right: 1px solid #fff;
    padding-right: 10px;
}

.browse-link {
	padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.events-link {
	padding-left: 10px;
    border-left: 1px solid white;
}

/* header section */

#header {
	padding: 2%;
	background-color: #fff;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #0e2338;
}

#header > h3 {
	color: #0e2338;
    font-size: 2.5em;
    margin: 1% 0;
    border-bottom: 1px solid #0e2338;
    padding: 1%;
}

#header > p {
	color: #0e2338;
	font-size: 1.25em;
	width: 55%;
	line-height: 150%;
	text-align: center;
}

/* search sidebar section */

#search-sidebar {
	background-color: #0e2338;
	padding: 2% 1% 2% 3%;
	width: 20%;
	max-width: 20%;
	min-width: 20%;
	display: inline-block;
	height: 850px;
	max-height: 850px;
	min-height: 850px;
	border-bottom: 1px solid #fff;
}

#search-sidebar > h3 {
	border-bottom: 2px solid #0e2338;;
	padding-bottom: 2%;
	font-weight: 300;
	font-size: 1.65em;
	color: #fff;
}

#browse-options {
	margin-top: 10%;
}

.search-form-control {
	margin: 15% 10%;
	color: #fff;
}

.search-form-control input {
	margin-left: 15%;
}

.search-form-control > p {
	font-size: 1.5em;
	padding: 5% 0;
	margin-bottom: 15%;
	border-bottom: 1px solid #fff;
}

#search-all-submit {
	width: 85%;
	/*white-space: nowrap;*/
}

#search-submit, #clear-filters {
	width: 65%;
}

.search-form-button {
    height: 50px;
    background: #0e2338;
    border: 2px solid #f1c40f;
    font-size: 1em;
    font-weight: 100;
    color: #f1c40f;
    margin: 5% 0 3% 0;
}

.search-form-button:hover {
	background-color: #fff;
    color: #0e2338;
    border: 2px solid #fff;
    cursor: pointer;
}

/* search results section */

#search-results {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	background-color: #0e2338;
	height: 850px;
	min-height: 850px;
	max-height: 850px;
	width: 80%;
	float: right;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 3%;
	overflow: scroll;
}

.search-result-item {
	display: inline-block;
	margin: 3%;
	height: 250px;
	min-height: 250px;
	width: 175px;
	max-width: 175px;
}

.search-results-album-cover {
	box-shadow: 0 0 15px #000;
}

.search-results-album-title {
	font-size: .95em;
    margin-bottom: 5%;
    font-weight: 300;
    margin-top: 10px;
}

.search-results-artist {
	font-size: .85em;
    margin-bottom: 5%;
}

.search-results-year {
	font-size: .65em;
}

.search-result-item > p {
	color: #fff;
}

/********************************************************/
/***** Events Page  *****/
/********************************************************/

#events-section {
	background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/hero-img.JPG);
	/*height: 87vh;*/
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#events-container {
	width: 66%;
	max-width: 66%;
	min-width: 66%;
	background-color: #0e2338;
	opacity: 0.65;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 10%;
	overflow: scroll;
}

.month {
	font-size: 3.5em;
	color: #f1c40f;
	padding: 2%;
	border-bottom: 1px solid white;
}

.events-list {
	width: 100%;
	text-align: center;
}

.event {
	font-size: 1.5em;
	color: white;
	padding: 2%;
	margin: 5% 0;
	line-height: 2em;
}

/********************************************************/
/***** Media Queries  *****/
/********************************************************/

@media screen and (max-width: 838px) {
	#header-title h1 {
		font-size: 3.5em;
	}

	#header-title h3 {
		font-size: 1.5em;
	}

	#contact-info {
		font-size: .75em;
	}
}

@media screen and (max-width: 768px) {
	#header-title h1 {
		font-size: 3em;
	}

	#header-title h3 {
		font-size: 1em;
	}

	#contact-info {
		font-size: .5em;
	}
}

@media screen and (max-width: 648px) {
	#header-title h1 {
		font-size: 2.5em;
	}

	#header-title h3 {
		font-size: .5em;
	}

	#contact-info {
		font-size: .25em;
	}
}

@media screen and (max-width: 168px) {
	#header-title h1 {
		font-size: 2em;
	}

	#header-title h3 {
		font-size: .25em;
	}

	#contact-info {
		font-size: .15em;
	}
}